/*Animation styles*/
.srijan-dp {
  animation-delay: 1000ms;
  visibility: hidden;
  animation-name: fadeIn, bumpOut;
  animation-timing-function: ease-in-out;
  animation-duration: 500ms;
}
.logo img {
  animation-name: leftRide, rotate;
  animation-timing-function: ease-in-out;
  animation-duration: 800ms;
  animation-iteration-count: 1;
  /* transition: ease-in-out; */
}
.design {
  animation-name: rightRide, fadeIn;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
.front-text {
  /* animation: fadeInOut; */
  /* animation-delay: 2s; */
  visibility: hidden;
  /* animation-name: fadeIn;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1; */
}
.front-text-animation {
  animation-name: fadeIn;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
.projectz {
  animation-delay: 0.5s;
  animation-name: fadeIn;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
.links {
  animation: topIn 1s ease 1;
}
/* .auto-typer span {
  animation-name: fadeIn;
  animation-iteration-count: infinite;
  animation-duration: 450ms;
  animation-direction: forwards;
  /* animation-timing-function: ease-out; */
/* } */
/* Keyframes */
@keyframes topIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes leftRide {
  from {
    left: 0px;
    opacity: 0;
  }
  to {
    opacity: 90%;
  }
}
@keyframes bumpOut {
  from {
    width: 0%;
    top: 75%;
    left: 90%;
  }
  to {
    visibility: visible;
    width: 22%;
  }
}
@keyframes rightRide {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
