* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgb(46, 46, 46);
  color: white;
  overflow-x: hidden;
}
.container {
  width: 100vw;
}
nav {
  width: 100vw;

  background-color: rgba(63, 63, 63, 0.63);
  box-shadow: 0 7px 100px rgba(187, 187, 187, 0.87);
  position: fixed;
  z-index: 10;
}
.navbar {
  width: 50vw;
  height: 15vh;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 35%;

  /* overflow: hidden; */
  /* background-color: red; */
}
.links {
  width: 30vw;
  list-style: none;
  padding: 2% 5%;
  cursor: pointer;
}
.links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
}
a:hover,
.links:hover a {
  color: rgb(1, 255, 191);
}
.logo {
  list-style: none;
}
.logo img {
  cursor: pointer;
  position: absolute;
  top: 13px;
  left: 15vw;
  width: -20%;
}
.design {
  width: 70%;
  position: relative;
  margin-left: 20%;
  margin-top: 16vh;
}
.srijan-dp {
  width: 22%;
  border-radius: 2em;
  position: absolute;
  top: 28%;
  left: 67%;
}
.front-text {
  visibility: hidden;
  font-weight: 600;
  position: absolute;
  top: 54%;
  left: 23%;
  font-size: 2vw;
  letter-spacing: 0.15rem;
  text-align: center;
}
.auto-typer span {
  margin-top: 5px;
  padding-right: 0;
  border-right: 3px solid whitesmoke;
  /* animation-timing-function: ease-out; */
}
.skills {
  width: 100vw;
  text-align: center;
  transition: none;
  animation: none;
}
.skills .skill-headline {
  transition: none;
  animation: none;
}
.sub-nav {
  background-color: rgb(63, 63, 63);
  border-top: 2px solid rgb(1, 255, 191);

  /* box-shadow: 1px 2px 10px rgba(187, 187, 187, 0.87); */
  margin-top: 2%;
  list-style: none;
  padding: 1rem;
  padding-top: 0.5rem;
  position: absolute;
  top: 45px;
  z-index: 11;
  /* text-align: left; */
  visibility: hidden;
  /* text-align: center; */
}
.sub-nav .sub-menu a {
  color: white;
}
.sub-nav .sub-menu a:hover {
  color: rgb(1, 255, 191);
}
.links:hover .sub-nav {
  visibility: visible;
  animation-name: fadeIn;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
}
.links:hover .fas {
  transform: rotate(180deg);
  color: blue;
}
/* .pgon:hover {
  visibility: hidden;
} */
.projects {
  margin-top: 8vw;

  width: 100vw;
  height: 100vh;
  text-align: center;
}
.project-headline {
  text-align: center;
}
.sub-projects {
  min-width: 60vw;
  max-width: 90vw;
  min-height: 70vh;
  margin: 0.5vw auto;
  border: 2px solid gray;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* box-shadow: -3px -8px 15px grey; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-auto-rows: 200px; */
  gap: 2px;
}
.project {
  background-color: red;
  margin: 0.5vw;
  border-radius: 20px;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.project:hover {
  background-color: rgba(148, 148, 148, 0.212);
  text-shadow: 2px 6px 9px white;
  font-size: 2rem;
  font-weight: bold;
  transition: 0.5s;
}
/*toogle*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.polygon-main {
  width: 80vw;
}
.contact {
  width: 100vw;
  height: 100vh;
  text-align: center;
  margin-top: 60vh;
}
h3 {
  position: relative;
  top: 50%;
}
